{include file="inc/header.html"}
<div class="content pull-to-refresh-content infinite-scroll">
	<!-- 默认的下拉刷新层 -->
    <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
    </div>
	{include file="modules/m-courselist.html"}
    {if $data.list}
 	<div id="vscope-paging">
        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader" v-if="total_page>1 && page<=total_page">
            <div class="preloader"></div>
        </div>
        <div class="infinite-scroll-preloader data-null" v-if="page>total_page">
            <span style="color:#999;font-size:0.75rem;">无更多数据</span>
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    
    var paramet = {
        list_type: GetQueryString("list_type"),
    },ajax_url,new_paramet,page=2,loading=false,total_page=Number('{$data.total_page}');

</script>
{include file="inc/footer.html"}