{include file="inc/header.html"}
<div class="content">
	<div class="block-vip-card">
		<div class="m-vip-card">
			<img src="{$TMPL}/dist/statics/images/bg_vip.png" class="vip-card-bg" />
			<div class="vip-card">
				<div class="vip-card-title">
					<div class="sp-l"><span>维品客</span></div>
					<span class="sp-r">到期时间：<span class="f-number">{$data.vip_date}</span></span>
				</div>
				<div class="vip-card-content">
					<div class="logo">
						<img src="{$data.app_logo}" />
					</div>
					<div class="name">{$data.vip_info.name}</div>
					<div class="code"><span class="f-number">{$data.vip_id}</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-vip-operat">
		<div class="vip-operat-list">
			<div class="vip-operat">
				<a href='{url r="course#vip"}'>
					<i class="icon iconfont">&#xe601;</i>
					<div class="label">立即续费{if $data.time_left lte 15}<span>({$data.time_left}天过期)</span>{/if}</div>
				</a>
			</div>
			<div class="vip-operat">
				<a href='{url r="course#vip"}'>
					<i class="icon iconfont">&#xe600;</i>
					<div class="label">会员升级</div>
				</a>
			</div>
		</div>
	</div>
	{if $data.code_count gt 0}
	<div class="block-vip-code list-block">
	    <ul>
	        <li>
		        <a href='{url r="user_center#vipcode"}' class="item-content item-link">
		            <div class="item-media"><i class="icon icon-f7"></i></div>
		            <div class="item-inner">
		                <div class="item-title">激活码</div>
		                <div class="item-after">{$data.code_count}</div>
		            </div>
		        </a>
	        </li>
	    </ul>
	</div>
	{/if}
	<div class="block-vip-liberty">
		<div class="card m-vip-liberty">
		    <div class="card-header no-border f13">会员特权模块</div>
	    	<div class="card-content">
	      		<div class="card-content-inner">
	      			<div>
	      				<img src="/weixin/theme/default/dist/statics/images/privilege.jpg" width="714" height="200" title="" align="" alt="">
	      			</div>
	      		</div>
    		</div>
	  	</div>
	</div>
</div>
{include file="inc/footer.html"}