/*界面主题色*/
/*背景色*/
/*背景色（深）*/
/*模块背景色*/
/*主题风格色*/
/*主题辅助风格色*/
/*字体颜色*/
/*主要字色*/
/*浅色*/
/*更浅色（适用：二级标题、简介）*/
/*更更浅色（适用：icon图标）*/
/*标题*/
/*字体大小*/
/*线条颜色*/
/*主要线条颜色*/
/*更深线条颜色*/
/*更浅线条颜色*/
/*文本输入框边框颜色*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.pop-bespeak-meet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 100;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
}
.pop-bespeak-meet .bespeak-meet-con {
  position: absolute;
  bottom: -100%;
  left: 50%;
  width: 80%;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-meet-tit {
  height: 2.5rem;
  line-height: 2.5rem;
  color: #333;
  font-size: 0.7rem;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input {
  padding: 0 .5rem .5rem .5rem;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .input-box {
  position: relative;
  width: 100%;
  height: 1.75rem;
  margin-top: .5rem;
  border-radius: 4px;
  background: #fafafa;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  border: none;
  background: #fafafa;
  z-index: 2;
  padding: 0 0.5rem;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .input-box input::-webkit-input-placeholder {
  color: #cfcfcf;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .input-box select {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  border: none;
  background: #fafafa;
  z-index: 10;
  opacity: 0;
  left: 0;
  top: 0;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .verify-box {
  position: relative;
  height: 1.75rem;
  margin-top: .5rem;
  background: #fafafa;
  border-radius: 4px;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .verify-box input {
  position: relative;
  height: 1.65rem;
  line-height: 1.65rem;
  margin: 0;
  border: none;
  font-size: 0.6rem;
  background: #fafafa;
  z-index: 2;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .verify-box input::-webkit-input-placeholder {
  color: #cfcfcf;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-input .verify-box .send-verify {
  position: relative;
  height: 1.75rem;
  padding-right: .5rem;
  line-height: 1.75rem;
  font-size: 0.6rem;
  color: #f1383f;
  z-index: 2;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-btn-list {
  padding: .25rem;
  background: #efeff4;
  border-radius: 0 0 2px 2px;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-btn-list .bespeak-btn {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 1px;
  background: #f1383f;
}
.pop-bespeak-meet .bespeak-meet-con .bespeak-btn-list .bespeak-btn.btn-cannel {
  color: #333;
  background: #d0d0d0;
  margin-right: .25rem;
}
.pop-bespeak-meet.z-open {
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
.pop-bespeak-meet.z-open .bespeak-meet-con {
  bottom: 50%;
}
.page-date-detail {
  font-family: "微软雅黑";
}
.page-date-detail .content {
  bottom: 0;
}
.page-date-detail .content-block {
  margin: 0;
  padding: 0;
  margin: 0.5rem 0;
  background: #fff;
  width: 100%;
}
.page-date-detail .m-title {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 2.5rem;
}
.page-date-detail .m-title h3 {
  line-height: 1.75rem;
  color: #333;
  margin-bottom: 0.2rem;
}
.page-date-detail .m-title p {
  color: #666;
  font-size: 0.6rem;
  line-height: 1.1rem;
}
.page-date-detail .m-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  border-top: 1px solid #cdcdcd;
  height: 2.5rem;
}
.page-date-detail .m-button div {
  width: 50%;
}
.page-date-detail .m-button .left {
  padding: 0 0.5rem;
}
.page-date-detail .m-button .left span {
  line-height: 2.5rem;
  color: #f1383f;
}
.page-date-detail .m-button .left span .numb {
  font-size: 0.9rem;
  font-family: Arial;
  padding: 0 0.1rem;
}
.page-date-detail .m-button .button {
  height: 2.5rem;
  line-height: 2.5rem;
  background: #f1383f;
  color: #fff;
  font-size: 0.8rem;
  border: 0;
  border-radius: 0;
}
.page-date-detail nav {
  display: none;
}
