/*界面主题色*/
/*背景色*/
/*背景色（深）*/
/*模块背景色*/
/*主题风格色*/
/*主题辅助风格色*/
/*字体颜色*/
/*主要字色*/
/*浅色*/
/*更浅色（适用：二级标题、简介）*/
/*更更浅色（适用：icon图标）*/
/*标题*/
/*字体大小*/
/*线条颜色*/
/*主要线条颜色*/
/*更深线条颜色*/
/*更浅线条颜色*/
/*文本输入框边框颜色*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-user_center-index .list-block {
  overflow: hidden;
}
.page-user_center-index .userbox {
  width: 100%;
  height: 6rem;
  background: url(../dist/statics/images/usercenterbj.png) no-repeat center 100%;
  padding-top: 1rem;
}
.page-user_center-index .userbox .imgboxa {
  width: 2.7rem;
  height: 2.7rem;
  padding: .1rem;
  background: rgba(225, 225, 225, 0.4);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}
.page-user_center-index .userbox .imgbox {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.page-user_center-index .userbox .imgbox img {
  width: 100%;
  height: 100%;
  line-height: 100%;
  border-radius: 50%;
}
.page-user_center-index .userbox h3 {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding-top: .3rem;
}
.page-user_center-index .dbox {
  width: 100%;
  background: #fff;
}
.page-user_center-index .dbox a {
  width: 33.33%;
  text-align: center;
  padding: .5rem 0;
  position: relative;
}
.page-user_center-index .dbox a:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 1.6rem;
  border-right: 1px solid #cfcfcf;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 40%;
  left: 0;
  pointer-events: none;
}
.page-user_center-index .dbox a:last-child:after {
  display: none;
}
.page-user_center-index .dbox a h2 {
  color: #333;
  font-size: 0.65rem;
  line-height: 1.2rem;
}
.page-user_center-index .dbox a h3 {
  font-size: 0.7rem;
  color: #f1383f;
  line-height: 1rem;
  height: 1rem;
}
.page-user_center-index .orderBox {
  width: 100%;
  height: 3.75rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.page-user_center-index .orderBox:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #cfcfcf;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 15;
}
.page-user_center-index .orderBox .orderShow {
  width: 25%;
  text-align: center;
}
.page-user_center-index .orderBox .iconBox {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto 0.15rem;
  position: relative;
  border: none!important;
  border-radius: 0;
}
.page-user_center-index .orderBox .iconBox i.iconfont {
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: #999;
}
.page-user_center-index .orderBox .iconBox em.s_number {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -0.2rem;
  top: -0.2rem;
  background: #ff2244;
  font-size: 0.55rem;
}
.page-user_center-index .orderBox h3 {
  color: #333;
  font-size: 0.55rem;
}
.list-block .item-media + .item-inner {
  margin-left: .5rem;
}
.list-block .item-media + .item-inner:after {
  display: none;
}
.list-block .item-media {
  font-size: .9rem;
  color: #999;
}
.list-block {
  margin: 0.5rem 0;
  font-size: 0.7rem;
}
.list-block li:last-child a:after {
  display: none;
}
.list-block .item-content {
  position: relative;
}
.list-block .item-content:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #cfcfcf;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  pointer-events: none;
}
.list-block .item-inner {
  min-height: 2.4rem;
}
.list-block .item-title {
  color: #333;
}
.list-block .item-content a {
  width: 100%;
}
.list-block .item-after {
  font-size: 0.6rem;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #898989;
}
.list-block .pic {
  background: none;
  padding: 0;
  padding-right: 0.5rem;
}
.list-block .pic .item-after {
  display: -webkit-flex;
  display: flex;
}
.list-block .avatar .item-after {
  max-height: initial;
}
.list-block .avatar .item-after img {
  border: 0;
  border-radius: 50px;
}
.list-block ul:before {
  height: 0;
}
.list-block ul:after {
  height: 0;
}
