/*界面主题色*/
/*背景色*/
/*背景色（深）*/
/*模块背景色*/
/*主题风格色*/
/*主题辅助风格色*/
/*字体颜色*/
/*主要字色*/
/*浅色*/
/*更浅色（适用：二级标题、简介）*/
/*更更浅色（适用：icon图标）*/
/*标题*/
/*字体大小*/
/*线条颜色*/
/*主要线条颜色*/
/*更深线条颜色*/
/*更浅线条颜色*/
/*文本输入框边框颜色*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-user_center-share .buttons-tab {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.page-user_center-share .buttons-tab a {
  width: auto;
}
.page-user_center-share .buttons-tab .active {
  color: #f1383f;
  border-color: #f1383f;
}
.page-user_center-share .content-block {
  margin: 0;
  padding: 0;
}
.page-user_center-share .content-block .card {
  margin-top: 0.5rem;
  background: #fff;
}
.page-user_center-share .content-block .card .card-content-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-flexjustify-content: space-between;
  padding: .5rem 0 0.5rem 0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-pic {
  width: 12vw;
}
.page-user_center-share .content-block .card .card-content-inner .user-pic img {
  width: 12vw;
  height: 12vw;
  overflow: hidden;
  border-radius: 5rem;
  display: block;
  margin-bottom: 0.15rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-pic p {
  text-align: center;
  color: #333;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner {
  width: 85%;
  margin-left: 0.4rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-user {
  padding-right: 0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-user p {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.2rem;
  color: #333;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-user p span {
  font-size: 0.6rem;
  color: #999;
  line-height: 1rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text {
  position: relative;
  padding-right: 0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top h3 {
  margin-bottom: 0.5rem;
  color: #333;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top h3 .auditing {
  font-size: 1rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.375rem;
  color: #fff;
  border-radius: 0.2rem;
  display: block;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top h3 .adopt {
  background: #47cf4a;
  margin-right: -0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top h3 .not_through {
  background: #cfcfcf;
  margin-right: -0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top h3 .pending_audit {
  background: #f1383f;
  margin-right: -0.75rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top p {
  color: #666;
  font-size: 0.6rem;
  line-height: 0.8rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 0.6rem;
  margin-top: 0.2rem;
  line-height: 0.6rem;
  margin-top: 0.5rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .details {
  color: #999;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .link {
  display: -webkit-flex;
  display: flex;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .link span {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #999;
  margin-left: 1rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .link span i {
  color: #cfcfcf;
  margin-right: 0.2rem;
  font-size: 0.7rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .link .look i {
  font-size: 0.9rem;
}
.page-user_center-share .content-block .card .card-content-inner .user-inner .inner-text .text-top .state .link .active {
  color: #f1383f;
}
