/*字体颜色*/
/*主要字色*/
/*标题*/
/*浅色*/
/*更浅色（适用：二级标题、简介）*/
/*更更浅色（适用：icon图标）*/
/*界面主题色*/
/*背景色*/
/*背景色*/
/*主题风格色*/
/*主题风格浅色*/
/*主题风格浅色*/
/*主题辅助风格色*/
/*线条颜色*/
/*主要线条颜色*/
/*更深线条颜色*/
/*文本输入框边框颜色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.user-r-content .block-inner {
  padding: 0 28px 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.user-r-content .block-inner .sub-title {
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}
.user-r-content .block-inner .union-img {
  float: left;
  margin-right: 20px;
  width: 165px;
  height: 165px;
  overflow: hidden;
}
.user-r-content .block-inner .block-bar {
  float: left;
  margin-top: -8px;
  width: 60%;
}
.user-r-content .block-inner .block-bar .con-bar {
  padding-left: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 14px;
  color: #666;
  line-height: 28px;
}
