/*字体颜色*/
/*主要字色*/
/*标题*/
/*浅色*/
/*更浅色（适用：二级标题、简介）*/
/*更更浅色（适用：icon图标）*/
/*界面主题色*/
/*背景色*/
/*背景色*/
/*主题风格色*/
/*主题辅助风格色*/
/*线条颜色*/
/*主要线条颜色*/
/*更深线条颜色*/
/*文本输入框边框颜色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.m-live {
  background: #fff;
  margin-top: 20px;
}
.m-live .m-live-list {
  padding: 20px;
  margin: -10px;
}
.m-live .m-live-list .block-live {
  width: 275px;
  float: left;
  margin: 10px;
}
.m-live .m-live-list .block-live a {
  display: block;
}
.m-live .m-live-list .block-live a .block-live-img {
  width: 100%;
  height: 157px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.m-live .m-live-list .block-live a .block-live-img:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/play-bj.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 490;
  margin-top: -25px;
  margin-left: -25px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transition: all ease-out 200ms;
  -webkit-transition: all ease-out 200ms;
  -moz-transition: all ease-out 200ms;
}
.m-live .m-live-list .block-live a .block-live-img:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all ease-out 200ms;
  -webkit-transition: all ease-out 200ms;
  -moz-transition: all ease-out 200ms;
  border-radius: 5px;
}
.m-live .m-live-list .block-live a .block-live-img img {
  height: 100% !important;
  width: 100%;
}
.m-live .m-live-list .block-live a .block-live-info {
  margin: 13px 0 0;
  height: 43px;
}
.m-live .m-live-list .block-live a .block-live-info .live-name {
  width: 100%;
  position: relative;
}
.m-live .m-live-list .block-live a .block-live-info .live-name .avatar-normal {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin-right: 10px;
}
.m-live .m-live-list .block-live a .block-live-info .live-name p {
  padding-left: 50px;
  height: 21px;
  line-height: 21px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-live .m-live-list .block-live a .block-live-info .live-name p.sub {
  color: #999;
  font-size: 12px;
  width: 125px;
}
.m-live .m-live-list .block-live a .block-live-info .watch-num {
  color: #b8c0cc;
}
.m-live .m-live-list .block-live a .block-live-info .watch-num .iconfont {
  font-size: 14px;
  padding-right: 10px;
}
.m-live .m-live-list .block-live a:hover .block-live-img:before {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.m-live .m-live-list .block-live a:hover .block-live-img:after {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.m-live .m-live-list .block-live a:hover .block-live-info .live-name {
  color: #ff630e;
}
.m-live .m-live-list {
  padding: 0;
}
.m-live .m-live-list .block-live {
  background: #f7f7f7;
  padding: 10px;
  width: 273px;
}
.m-live .m-live-list .block-live a .block-live-img:after {
  border-radius: 0;
}
.m-live .m-live-list .block-live a .block-live-img .live-img-txt {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 16px;
  line-height: 15px;
  font-size: 12px;
  background: #ff630e;
  text-align: center;
  color: #fff;
}
.m-uc-content .content-pd20 {
  padding-top: 30px;
}
.m-uc-content .content-pd20 .m-common-item {
  margin-top: 0px;
}
.m-common-title {
  height: auto;
  line-height: 30px;
  overflow: inherit;
}
